
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.pointer{
  position: absolute;
  top: -115px;
  left: -5px;
  width: 70px;
  height: 150px;
  clip-path: polygon(50% 0%, 35% 100%, 65% 100%);
  background-color: black;
  z-index: -1;
  transform-origin: bottom;
  
}
.turning{
  animation-name: infiniteTurn 1s  linear infinite;
  -webkit-animation: infiniteTurn 1s linear infinite;
  -moz-animation: infiniteTurn 1s linear infinite;
  -o-animation: infiniteTurn 1s linear infinite;
}
.openMenu{
  position: absolute;
  left:0 !important;
}
.closeArrow{
  
  transform: rotate(180deg);

}

.part{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  transform-origin: bottom right;
  z-index: 1;
  transform: skew(20deg, 20deg);
}
@keyframes infiniteTurn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* home */
.link {
  text-decoration: none;
  margin: 10px;
  color: white;
  font-weight: 600;
  margin: 40px 0 20px;
}
.githubLink{
  text-decoration: none;
  color: white;
  opacity: 1;
  margin: 0;
  margin-left: 5px;
  padding: 0;
}
.fadeIn {
  animation: 1s fadeIn forwards;
}

.fadeOut {
  animation: 1s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-100px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-100px, 0);
    opacity: 0;
  }
}
