.select{
    height: 30px;
}

/* .show{    
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    animation: show 1s ease-in-out;
}
.hide{
    left: 50%;
    bottom: -400px;
    transform: translate(-50%,50%);
    animation: hide 1s ease-in-out;
}
@keyframes show {
    0%{
        left: 0px;
    }
    70%{
        left: 60%;
    }
    100%{
        left: 50%;
        transform: translate(-50%,50%);
        
    }
}
@keyframes hide {
    0%{ 
        left: 50%;
        transform: translate(-50%,50%);
    }
    30%{
        left: 60%;
    }
    100%{
        left: -400px;
    }
} */
.colorPicker{
    justify-content: center;
    padding: 10px 5px !important;
}